* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: arial;
}

body {
  background-color: #ff6666;
}

#main_logo {
  max-width: 55%;
  max-height: 55%;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

#main_logo:hover {
  max-width: 70%;
  max-height: 70%;
  transition: all 0.3s ease;
}

.social_icons {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li {
  list-style: none;
  display: inline-flex;
  justify-content: center;
  padding: 5px;
  font-size: 30px;
  width: 50px;
  transition: all 0.3s ease;
}

li :hover {
  opacity: 0.7;
  transition: all 0.3s ease;
}

ul {
  display: table;
  margin: 0 auto;
}
